@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Playfair+Display:wght@600&family=Poppins:wght@400;500&family=REM:wght@900&display=swap");
* {
	box-sizing: border-box;
}
body {
	background-color: black;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

.main-logo {
	margin: 0;
	margin-right: auto;
	font-size: 30px;
}

.left,
.right {
	font-family: "Playfair Display", serif;
	border: 2px solid white;
	padding: 5px;
}

.right {
	color: black;
	background-color: white;
	border: 2px solid rgb(255, 0, 0);
}

/*
==================
Navbar
==================
*/
.sandwich-icon {
	display: none; /* Hide the sandwich icon by default */
	font-size: 1.8em;
	cursor: pointer;
}
nav {
	display: flex;
	background-color: black;
	color: white;
	padding: 1em;
	justify-content: space-between;
	align-items: center;
	margin: 1em;
}
.list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: white;
}

.list-item {
	color: white;
	margin-right: 1.5em;
	padding: 0.5em 1em;
	border: 2px solid white;
	transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
}

.list-item:hover {
	background-color: white;
	color: black;
	font-weight: bold;
}

/*
==============================================
Hero Section
==============================================
*/

.home-container {
	background-image: url("./image1.jpg");
	background-size: cover;
	background-position: center;
}

.hero-section {
	font-size: 4.4em;
	max-width: 600px;
	margin: 40px 0px 0px 80px;
	font-family: "REM", sans-serif;
	border: 10px solid black;
	box-shadow: 0.5rem 0.5rem rgb(143, 143, 143), -0.5rem -0.5rem #ccc;
	background-color: white;
}

.hero-title {
	color: white;
	background-color: black;
	padding: 8px;
	border: 2px solid white;
}
/*
==================================
About Section
==================================
*/
.about {
	color: white;
	display: flex;
	flex-direction: column;
	margin: 5%;
}

.about-title {
	font-family: "REM", sans-serif;
	color: black;
	font-size: 3em;
	max-width: 400px;
	background-color: white;
}

.about-content {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
}

.sub-content {
	margin: 30px;
	padding: 10px;
	width: 500px;
	font-size: 1.2em;
	border: 2px solid white;
	height: fit-content;
}

.second-content {
	justify-content: flex-end;
}

.hero-footer {
	font-family: "REM", sans-serif;

	width: 50%;
	text-align: center;
	margin: auto;
	font-size: 3em;
}
/*===============================================
	Articles List and ArtList Section
=================================================*/

.article-container {
	display: flex;
	padding: 1em;
	justify-content: center;
}

.article-container a {
	text-decoration: none;
	color: white;
}

.article-list-title {
	color: white;
	text-align: center;
	margin-top: 20px;
	border-bottom: 1px solid white;
}

.article-info:nth-child(odd) {
	background-color: rgb(81, 77, 77);
}
.article-info-item {
	padding: 1em;
	margin-bottom: 20px;
	width: 700px;
	font-size: 1rem;
}
.article-info-item h3,
p {
	margin: 0;
	padding: 0.4em;
}
.article-info-item h3 {
	font-size: 1.6rem;
	text-align: center;
}

.article-content {
	color: white;
	display: flex;
	flex-direction: column;
	padding: 5%;
	padding-bottom: 0;
}
.article-para {
	font-size: 1.1rem;
	margin-bottom: 30px;
}
.article-title {
	border-bottom: 2px solid white;
}
.upvotes-count {
	font-size: 1.3rem;
}

button {
	font-size: 15px;
	margin: 0;
	background-color: rgb(64, 63, 63);
	color: white;
	border: 1px solid white;
	width: fit-content;
}
.upvotes-container {
	display: flex;
	padding-left: 50px;
	margin-bottom: 20px;
}
/*===========================================
Comment Section
============================================*/
h3,
p,
h4,
h3 {
	margin: 0;
}
.comment-container {
	list-style-type: none;
	width: 80%;
}
.comment-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 20px 0px 20px 0px;
}
input {
	font-size: 15px;
}
.comment {
	border-bottom: 1px solid white;
	padding: 15px;
}

/*=================================================
Login Style
===================================================*/
.login-title {
	color: rgb(0, 0, 0);
	font-weight: bolder;
	text-align: center;
}
.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
.login-sub-container {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(143, 153, 184, 1) 50%,
		rgba(0, 0, 0, 1) 100%
	);
	display: flex;
	flex-direction: column;
	gap: 30px;
	border: 2px solid rgb(141, 198, 226);
	padding: 70px;
	box-shadow: 0.5rem 0.5rem rgb(118, 113, 187), -0.5rem -0.5rem #b6b6b6;
}
input {
	padding: 10px;
	border-radius: 5px;
}
.goto-link {
	color: rgb(21, 18, 18);
	font-weight: 500;
}
.error {
	border: 1px solid white;
	padding: 5px;
	background-color: #ccc;
	color: black;
	font-weight: 500;
}
.signup {
	background: rgb(229, 93, 93);
	background: linear-gradient(
		90deg,
		rgba(229, 93, 93, 1) 0%,
		rgba(184, 143, 156, 1) 50%,
		rgba(119, 118, 118, 1) 100%
	);
}
/* Media Queries */
@media screen and (max-width: 768px) {
	.main-logo {
		font-size: 1.3em;
		margin-right: auto;
	}

	.list-item {
		font-size: 0.7em;
		margin-right: 1em;
	}

	.hero-section {
		font-size: 2.7em;
		max-width: 100%;
		margin: 1em;
	}

	.about-title {
		font-size: 2em;
	}

	.sub-content {
		margin: 1em;
		font-size: 1em;
	}

	.hero-footer {
		font-size: 2em;
		width: 80%;
	}

	.article-info-item {
		padding: 1.3em;
		margin-bottom: 20px;
		width: 80%;
	}
}
